#unixconverter-base {
    width: auto;
    height: auto;
    position: fixed;
    z-index: 99999;
    background: black;
}

#unixconverter-date {
    margin: 10px 10px 0 10px;
    color: white;
}

#unixconverter-fetched-in {
    margin: 0 10px 10px 10px;
    color: gray;
    font-size: 0.8em;
    text-align: right;
}

#unixconverter-icon {
    color: gray;
    position: absolute;
    left: 35px;
    bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}
