* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
}

html {
    background: orange;
    height: 100%;
    overflow: hidden;
    min-width: 195px;
}

/* Firefox */
@supports (height: -moz-available) {
    .content {
        width: 475px !important;
    }

    .offset span {
        left: 288px !important;
    }

    input[type='text'] + span + a {
        right: 255px !important;
    }

    input[type='text']:placeholder-shown:not(:focus) + span + a {
        transform: translateY(-16px) !important;
    }

    input[type='text'] + span + a {
        transform: translateY(-42px) !important;
    }
}

/* Chrome */
@supports not (height: -moz-available) {
    html {
        height: -webkit-fill-available;
    }

    .offset span {
        left: 290px !important;
    }
}

.dn {
    display: none;
}

.mb10 {
    margin-bottom: 10px !important;
}

.ninety {
    transform: rotate(90deg);
}

.w100 {
    width: 100%;
}

.w75 {
    width: 75%;
}

.title {
    margin-bottom: 8px !important;
}

.title img {
    background: white;
    border-radius: 25px;
    height: 100px;
    border: 2px solid black;
}

.content .subtitle {
    font-size: 15px;
}

.border {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 3px solid black;
    z-index: -1;
}

a,
a:any-link {
    text-decoration: underline !important;
}

a,
a:any-link,
input[type='text'],
input[type='text']:not(:placeholder-shown) + span,
input[type='text']:focus + span {
    color: white !important;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

input[type='text']:not(:placeholder-shown) + span,
input[type='text']:focus + span {
    color: orange !important;
}

i {
    margin-left: 5px;
    user-select: none;
    transition: all 250ms ease-in-out;
}

i:not(.no-hover):hover {
    transform: rotate(-90deg);
}

.icon {
    display: flex;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;
}

.icon i {
    font-size: 30px;
}

.container {
    width: 500px;
}

.content {
    width: 480px;
}

.content,
.loading {
    margin: 10px;
    color: black;
}

.center {
    margin: auto;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -o-center;
    justify-content: center;
}

.justify {
    text-align: justify;
    text-align-last: center;
}

.fetch-format {
    display: flex;
    flex-direction: column;
}

.radio-inputs {
    display: flex;
}

.radio-inputs input {
    display: none;
}

.ml10 {
    margin-left: 10px;
}

.radio-inputs label {
    font-size: small;
    width: 100%;
    background: black;
    padding: 7px;
    cursor: pointer;
    color: white;
    transition: all 250ms ease-in-out;
    border-radius: 25px;
    margin: 3px;
}

.radio-inputs input:not(:checked):hover + label {
    background: rgb(90, 90, 90);
}

.radio-inputs input:checked + label {
    background: white;
    color: black;
}

.fetch-format span {
    text-align: center;
}

.fmtz {
    display: flex;
}

input[type='text'] {
    background: none;
    border-bottom: 1px solid black !important;
    border: none;
    transition: all 250ms ease-in-out;
    width: 100%;
}

.offset input[type='text']:not(:placeholder-shown),
.offset input[type='text']:focus,
.human-readable input[type='text']:not(:placeholder-shown),
.human-readable input[type='text']:focus {
    margin-top: 10px;
}

.format input[type='text']:not(:placeholder-shown),
.format input[type='text']:focus,
.from-unix input[type='text']:not(:placeholder-shown),
.from-unix input[type='text']:focus {
    margin: 10px 0;
}

input[type='text']:placeholder-shown:not(:focus) + span {
    color: rgba(0, 0, 0, 0.5) !important;
}

input[type='text']:placeholder-shown:not(:focus) + span,
input[type='text']:placeholder-shown:not(:focus) + span + a {
    transform: translateY(0px);
}

.flex.no-background div span {
    left: 44px;
}

input[type='text'] + span,
input[type='text'] + span + a {
    transform: translateY(-5px);
    position: absolute;
    left: 42px;
    transition: all 250ms ease-in-out;
}

input[type='text'] + span {
    z-index: -1;
    color: black !important;
}

input[type='text'] + span + a {
    left: unset;
    right: 259px;
}

input[type='text']:focus {
    outline: none !important;
    border-bottom: 1px solid white !important;
}

#offset-autocomplete {
    position: absolute;
    max-height: 200px;
    overflow-y: scroll;
}

.divider {
    margin: 10px 0;
    background: black;
    height: 1px;
}

.white-text {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.flex {
    display: flex;
}

.inline {
    display: inline;
}

.help-span {
    margin: auto 0;
}

.flex i {
    margin: 0 5px 0 0 !important;
}

.flex div:nth-child(2) {
    width: -webkit-fill-available;
    width: -moz-available;
}

.flex.no-background div:last-child {
    background: none;
}

.flex div:last-child {
    background: white;
    margin-left: 5px;
    height: 35px;
}

.flex div:last-child i {
    font-size: 35px;
    cursor: pointer;
    margin: 0 !important;
}

.result {
    margin-top: -10px;
    margin-bottom: 15px;
    font-weight: bold;
    max-width: 400px;
    overflow: hidden;
}

.current-timestamp {
    display: flex;
}

.current-timestamp div p:hover {
    cursor: pointer;
}

.switches {
    display: flex;
}

/* Custom Switch CSS */
.switch {
    background: none !important;
    margin: 0 !important;
}

.switch input[type='checkbox'] {
    opacity: 0;
    width: 60px;
    height: 20px;
    margin: 0;
    z-index: 99;
    position: absolute;
    transform: translate(-30px, 0px);
    cursor: pointer;
}

.switch .switch-back {
    width: 40px;
    height: 20px;
    display: block;
    border-radius: 25px;
}

.switch input[type='checkbox']:checked + .switch-back {
    background: black;
}

.switch input[type='checkbox']:not(:checked) + .switch-back {
    background: black;
}

.switch .switch-front {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 25px;
}

.switch input[type='checkbox']:checked + .switch-back + .switch-front {
    background: orange;
    border: 1px solid black;
    transform: translate(10px, -21px);
    cursor: pointer;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
}

.switch input[type='checkbox']:not(:checked) + .switch-back + .switch-front {
    background: white;
    border: 1px solid black;
    transform: translate(-10px, -21px);
    cursor: pointer;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
}

/* Action Overlay */
.action {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 153, 0, 0.85);
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: -100;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.action.shown {
    opacity: 1;
    z-index: 100;
}

.action .action-icon {
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin: 0 0 -20px 0;
    font-size: 100px;
    transform: translateX(40%);
    transition: all 1s ease-in-out;
}

.action .action-title {
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    font-size: 30px;
}
