.dn {
    display: none;
}

html {
    background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
}

html body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content {
    margin: 10px;
}

.content h1 {
    text-align: center;
}

.fetch-format {
    display: flex;
    flex-direction: column;
}

.radio-inputs {
    width: 100%;
    display: flex;
}

.radio-inputs input {
    display: none;
}

.radio-inputs label {
    width: 100%;
    background: rgb(63, 70, 66);
    margin: 4px;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.radio-inputs input:checked + label {
    background: rgb(0, 255, 98);
    color: black;
}

.format,
.fetch-format {
    margin-bottom: 10px;
}

.format,
.offset,
.fetch-format span {
    text-align: center;
}

input[type='text'] {
    background: none;
    border-bottom: 1px solid black !important;
    border: none;
}

input[type='text']:focus {
    outline: none !important;
}

#offset-autocomplete {
    position: absolute;
    max-height: 200px;
    overflow-y: scroll;
}
